*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
button,
h1,
h2{
  font-family: "Bowlby One", serif;
}
body{
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}
.hero_section{
  position: absolute;
  top: 50%;
  width: 100vw;
  transform: translate(0, -50%);
}
.hero_section h2{
  font-size: 80px;
  text-align: center;
}
.hero_section button{
  padding: 10px 20px;
  font-size: 23px;
  text-transform:capitalize;
  font-weight: 700;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.hero_section button.primary{
  background-color: #512da8;
}
.hero_section button.secondary{
  background-color: #1a1f2e;
}

@media (max-width:1025px) {
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
  }
  .hero_section h2{
    font-size: 70px;
  }
  .hero_section button{
    font-size: 22px;
  }
}

@media (max-width:770px) {
  .hero_section h2{
    font-size: 50px;
  }
  .hero_section button{
    font-size: 20px;
    font-weight: 500;
  }
}

@media (max-width:430px) {
  nav{
    padding: 30px 40px;
  }
  .hero_section h2{
    font-size: 30px;
  }
  .hero_section button{
    padding: 7px 10px;
    font-size: 18px;
    font-weight: 400;
  }
}

@media (max-width:320px) {
  nav{
    padding: 30px 20px;
  }
  .hero_section h2{
    font-size: 20px;
  }
  .hero_section button{
    padding: 7px;
    font-size: 15px;
    font-weight: 400;
  }
}